node_modules
dist
coverage
.git
.github
.env
.env.*
*.log
npm-debug.log*
__tests__
**/*.test.ts
**/*.spec.ts
.vscode
.idea
*.md
!README.md
.husky
.editorconfig
commitlint.config.*
lint-staged.config.*
